.faqs{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

p{
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}

h2{
    width: 100%;
    text-align: center;
    border-bottom: white solid 1px;
    padding: 20px;
}
