/* styles.css */
.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

.About > h1 h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.About p{
    padding: 40px;
}



